.login-container {
  margin: 50px auto 0;
  width: 90%;
  max-width: 600px;
  .login-details {
    height: 100%;
    width: 100%;
    border: solid 2px rgba(204, 204, 204, 0.4);
    padding: 50px 40px;
    border-radius: 4px;
  }
  .forgot-pass {
    margin-top: 10px;
  }
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
